
body
{
color: #333;
text-align: center;

font-family: "Courier";

font-family: "Arial";

font-size: 20px;
margin: 0;
padding: 0;
}

#container 
{
    width: 70%;
    padding: 1em;

}
#cabecera{
    background: #33A;
    box-shadow: 0px 2px 20px 0px rgba(rgb(80, 79, 79), green, blue, alpha);
    color: white;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;

}
#cabecera #cabecera
{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 00.5em;
}
#container 
{
    width: 70%;
    padding: 0;
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> cabecera
=======
>>>>>>> cabecera
=======
>>>>>>> cabecera
    text-align: left;
    border: 1px solid #DDD;
    margin: 0 auto;
}
#container h1
{
    font-size: 20px;
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
}


=======
}
>>>>>>> cabecera
=======
}
>>>>>>> cabecera
=======
}
>>>>>>> cabecera
